body {
	font-family: 'Roboto Mono', monospace;
}

a {
	color: #c3251d;
}

p { 
	margin: 0 0 28px;
    padding: 0; 
    font-size: 15px;
}

footer {
	margin: 0 auto;
    max-width: 800px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}